*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* # UTILS */
.container{
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
}

/* HEADER */


.upper-header{
background-color: #acd6e4;
padding: 15px 0;

}

.upper-header > .container {
    display: flex;



}

.upper-header .header-item {
background-color: #d3a220;
border: 2px dashed black;
flex-basis: 20%;
padding: 5px 10px;

}

.upper-header .nav-container {
flex-grow: 1;
text-align: center;

}

.upper-header .login-container {
    text-align: right;


}

/* * HERO SECTION */

.hero {
    padding: 45px 0;
    background-image: url(../discord-assets/img/jumbo.png);
}


.hero > .container {


width: 800px;



min-height: 400px;


}

.h1 {
    font-style: italic white;
}
.p{
    font-style: italic white;
}
.hero > .container .button1 {
    border-style: solid;
    background-color: white;
    font-style: italic black;
}

.hero > .container .button2 {
    border-style: solid;
    background-color: black;
    font-style: italic white;

}

/* # MAIN */

/* *COL SECTIONS */

.main-section {
    padding: 45px 0;   
}

.main-section:nth-child(even){
    background-color: #d2d2d2;
}


.main-section> .container {
    display: flex;
}

.main-section.single-col > .container {
    min-height: 800px;
    background-color: darkgreen;
    border: 2px dashed black;
}

.main-section:nth-child(even)>.container {
    flex-direction: row-reverse;
    
    
}

.main-section .large-col {
    flex-basis: 60%;

    background-color: #1e8ff7;
    min-height: 400px;
    border: 2px dashed black;
}

.main-section .small-col {
    flex-basis: 40%;

    background-color: #f9bfcb;
    min-height: 400px;
    border: 2px dashed black;

}

/* FOOTER */
footer {
    padding-top: 10px;

    background-color: #222629;

}

.upper-footer {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    flex-direction: row;
    display: flex;
}

/* *upper footer */
.upper-footer > .container {
    display: flex;
    
}

.upper-footer .small-col {
    flex-basis: 30%;

    background-color: #ee8081;
    min-height: 500px;
    border: 2px dashed black;
}

.upper-footer .large-col {
    flex-basis: 70%;
    display: flex;

    background-color: #1fafa6;
    min-height: 500px;
    border: 2px dashed black;


}

.upper-footer .smaller-col {
    width:25%;

    border: 2px dashed white;
    
}

/* LOWER FOOTER */
.lower-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #7efdd2;
    min-height: 80px;

}

.logo-container,
.button-container{
padding: 5 10px;

    background-color: #f7b0c1;
    border: 2px dashed black;

}